body {
  background-image: url('https://cache.desktopnexus.com/thumbseg/2505/2505246-bigthumbnail.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 150vh;
}

.App {
  text-align: center;
}

#page-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  justify-content: space-around;
  height: 20vh;
  width: 100%;
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#title {
  font-family: 'Tangerine', cursive;
  color: white;
  margin-top: 1em;
}

h1 {
  font-size: 4rem;
  margin: 0px;
}

h2 {
  font-size: 3rem;
  margin-top: 0px;
}

#logo {
  width: 25%;
}

#logo-img {
  max-height: 90%;
  width: auto;
}

#links-menu {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#links-menu a {
  text-decoration: none;
  color: #006633;
  font-size: 1.25rem;
}

#links-menu a:hover {
  font-size:1.4rem;
  color: white;
}

#card-grid, #about {
  top: 25vh;
  position: absolute;
}

#card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3rem;
  padding: 2rem;
  z-index: 1;
}

.card {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: ivory;
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 2px 6px 6px rgba(0,0,0,0.23);
}

.card:hover {
  transform: scale(1.1)
}

.front-img {
  max-width: 100%;
  height: auto;
}

.member-info {
  line-height: 2px;
}

.guild-name {
  height: 1rem;
}

.member-stats {
  text-align: left;
}

#about {
  padding: 3em;
  text-align: left;
}

#upload-preview {
  max-width: 20%;
  height: auto;
}

@media (max-width: 600px) {
  #page-header {
    flex-direction: column;
  }

  #logo {
    width: 100%;
    height: auto;
  }

  #links-menu {
    flex-direction: row;
  }
}

